
*{
	margin:0;
	padding: 0;
	border:0;
	vertical-align: baseline;
	box-sizing: border-box;	
	list-style: none;

}

body{
	background: #6e6e6e;
}

header{
	background-color: darkred;
	width: 100%;
	height: 130px;
	padding-top: 10px;

	}

header h1{
	margin-top: 15px;
	text-align: center;
	color: white;
	font-size: 50px;
}	

nav{
	width: 100%;
	height: 40px;
 	background: rgb(202, 0, 0);
 	border-bottom: 1px solid black;
 	
}

nav ul{
	text-align: center;
	padding-top: 10px;

}

nav ul a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding:10px;
}

nav ul a:hover{
	background:white;
	color: rgb(202, 0, 0);
	box-shadow: 1px 1px 10px #000;

}


#main{
	width: 960px;
}

#seccion{
	width: 600px;
	min-height: 400px;
	background: darkred;
	margin: 10px;
	box-shadow: 1px 1px 10px #000;
	display: inline-block;
	padding-bottom: 20px;
}



section ul li{
	width: 90%;
	height: 90px;
	background: rgb(259, 4, 0);
	margin:10px;
	padding: 2px;
}

section ul li img{
	float: left;
	width: 50px;
	height: 60px;
	margin-top: 15px;
	margin-left: 20px;
}


section ul li:hover{
	background: #ccc;
	height: 120px;
	cursor: pointer;
}






article p{
	color:#f2f2f2;
	font-family: verdana;
	font-size: 20px;
	padding-top: 90px; 
}

aside{
	display:inline-block;
	width: 300px;
	min-height: 100px;
	background: darkred;
	float: right;
	margin: 10px;
	box-shadow: 1px 1px 10px #000;
}

aside section{
	margin-bottom: 10px;
	width: 80%;
	
	background: rgb(218, 75, 32);	
}

#masvistas{
	height: 200px;
}

#categorias{
	background: rgb(189, 90, 90);
	height: 100px;
}

footer{
	width: 925px;
	height: 80px;
	margin: auto;
	background: darkred;
	box-shadow: 1px 1px 10px #000;
}
