
*{
	margin:0;
	padding: 0;
	border:0;
	vertical-align: baseline;
	box-sizing: border-box;	
}

body{
	background: #6e6e6e;
}

header{
	background-color: darkred;
	width: 100%;
	height: 130px;
	padding-top: 10px;

	}

header h1{
	margin-top: 15px;
	text-align: center;
	color: white;
	font-size: 50px;
}	

nav{
	width: 100%;
	height: 40px;
 	background: rgb(202, 0, 0);
 	border-bottom: 1px solid black;
 	
}

nav ul{
	text-align: center;
	padding-top: 10px;

}

nav ul a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding:10px;
	text-decoration: underline;
}

nav ul a:hover{
	background:white;
	color: rgb(202, 0, 0);
	box-shadow: 1px 1px 10px #000;

}


#main{
	width: 960px;
}

#seccion{
	width: 600px;
	min-height: 400px;
	background: darkred;
	margin: 10px;
	box-shadow: 1px 1px 10px #000;
	display: inline-block;
	padding-bottom: 20px;
}

article{
	margin: 10px;
	width: 90%;
	height: 280px;
	background: #6e6e6e;
	
}

article h2{
	color: white;
	background: black;
	text-align: center;	
}

article img{
	height: 250px;
	float: left;
	padding: 20px;
}

article p{
	color:#f2f2f2;
	font-family: verdana;
	font-size: 20px;
	padding-top: 90px; 
}

aside{
	display:inline-block;
	width: 300px;
	min-height: 400px;
	background: darkred;
	float: right;
	margin: 10px;
}

aside section{
	margin-bottom: 10px;
	width: 80%;
	
	background: rgb(218, 75, 32);	
}

#masvistas{
	height: 400px;
}

#categorias{
	background: rgb(189, 90, 90);
	height: 300px;
}

footer{
	width: 100%;
	height: 90px;
	background: rgb(202, 0, 0);
}

footer div{
	margin:auto;
	padding-top: 5px;
	width: 30%;
	height: 45px;
	color: white;
	font-size: 25px;
}
footer div a{
	color:white;
}
